.app-header
  = render "modules/disclaimer"
  %nav.app-nav
    .usa-grid
      %h1.app-logo
        = link_to t("titles.application"), root_path
      %ul.app-auth-links
        %li
          - if signed_in?
            = link_to t(".sign_out"),
              destroy_user_session_path,
              method: :delete
          - else
            = modal_link(t(".sign_in"), new_user_session_path, "sign-in-modal")
= render "modules/sign_in_modal"

