.app-header
  = render "modules/disclaimer"
  %nav.app-nav
    .usa-grid
      %h1.app-logo
        = link_to t("titles.application"), root_path
      %ul.app-auth-links
        - if signed_in?
          - if product_owner_signed_in? || user_signed_in?
            %li.primary
              = link_to t(".dashboard"), dashboard_path
          %li.dropdown-parent
            = link_to edit_account_path do
              = signed_in_user.name
              %i.fa.fa-caret-down
            %ul.submenu#nav-submenu
              %li
                = link_to t(".edit_account"), edit_account_path
              %li
                = link_to t(".sign_out"),
                  user_signout_path,
                  id: "sign-out-js",
                  class: "sign-out-link"
        - else
          %li.secondary
            = modal_link(t(".sign_in"), new_user_session_path, "sign-in-modal")
          %li.primary
            = modal_link(t(".sign_up"), new_government_user_registration_path, "government-user-signup")
- unless signed_in?
  = render "modules/sign_in_modal"
  = render "modules/government_user_modal"

