= simple_form_for [:admin, @product] do |f|
  = f.input :name
  = f.input :url
  = f.input :short_description
  = f.input :long_description
  = f.input :twitter_handle
  = f.input :linkedin_id
  = f.input :location
  = f.input :founded_year
  = f.input :number_of_employees
  = f.input :sales_poc
  = f.input :fedramp_inprocess_agency
  = f.input :status

  = f.submit
