.usa-grid
  .breadcrumbs
    = link_to t(".products"), root_path
    %i.fa.fa-caret-right
    = @category.name

  %aside.categories
    = render "sidebar", categories: @categories, current_category: @category, current_sub_subcategory: nil
  %section.products
    %header
      %h1
        = @category.name
    - if @category.products.any?
      %ul.results
        = render partial: "products/product",
          collection: @category.products,
          locals: { character_limit: 200 }
