= content_tag_for :li, contract do
  %button.usa-button-unstyled{ "aria-controls" => "contract-#{contract_counter}", "aria-expanded" => "false" }
    = contract.name
  .usa-accordion-content{ id: "contract-#{contract_counter}", "aria-hidden" => "true" }
    - if contract.contact_email
      %p
        = t(".poc_html", email: contract.contact_email )
    = h contract.description
    - if contract.steps
      = h contract.steps
