%figure.product-logo
  = image_tag(product.logo_url)

- if no_users_signed_in? || government_user_signed_in?
  .new-product-form
    = simple_form_for [product, product_request] do |f|
      = f.input :product_id, value: product.id, as: :hidden
      - if no_users_signed_in?
        = f.submit t(".get_product"),
          class: "usa-button modal-trigger",
          data: {modal_id: "government-user-signup"}
      - else
        = f.submit t(".get_product"), class: "usa-button"
