%section.banner
  %header.page-header
    %h1
      = t(".header")
    %p.subtitle
      = t(".subtitle")
  .hero-search
    = simple_form_for :products,
      url: products_search_path,
      method: :get,
      html: { id: "product-search-form" } do |f|
      = f.input :name,
        placeholder: t(".search_placeholder"),
        input_html: {value: ""}
      = f.submit t(".search_products")

.usa-grid.products-container
  %aside.categories
    %h2.bucket-heading
      = t(".categories")
    %ul.categories-list
      = render partial: "category", collection: @products.categories
  %section.product-buckets
    = render "product_bucket",
      products: @products.newest,
      heading: t(".newest_heading")
    - if @products.most_popular.any?
      = render "product_bucket",
        products: @products.most_popular,
        heading: t(".most_popular_heading")
