.usa-grid
  .product-nav.breadcrumbs
    = link_to t(".products"), root_path
    %i.fa.fa-caret-right
    = @product_presenter.product.name

  %aside.product-sidebar
    = render "product_sidebar",
      product: @product_presenter.product,
      product_request: @product_presenter.new_product_request
  %section.product-content
    = render "product_content",
      product_presenter: @product_presenter

- unless signed_in?
  = render "modules/product_owner_modal"
- unless product_owner_signed_in?
  = render "gov_product_request_modal",
  product: @product_presenter.product,
    product_request: @product_presenter.new_product_request

