.usa-grid
  .product-nav.breadcrumbs
    = link_to t(".products"), root_path
    %i.fa.fa-caret-right
    = @product.name

  %aside.product-sidebar
    = render "product_sidebar",
      product: @product,
      product_request: @product_request
  %section.product-content
    = render "product_content",
      product: @product,
      product_request: @product_request


- unless signed_in?
  = render "modules/product_owner_modal"

