!!!
%html.no-js
  %head
    = render "modules/eagle"
    %meta{ "charset" => "utf-8" }
    %meta{ "name" => "ROBOTS", :content => "NOODP" }
    %meta{ "name" => "viewport", :content => "initial-scale=1" }
    %title
      = title
    = stylesheet_link_tag :application, media: "all"
    = favicon_link_tag "favicons/favicon.ico"
    = csrf_meta_tags
  %body{ class: "#{body_class} #{static_page_body_class} default-layout".strip }
    = render "modules/navigation"
    = render "flashes"
    .page-content
      = yield
    = render "javascript"
